.aside {
  height: auto;
  margin-bottom: -6px;
}

.img_aside-back {
  width: 100%;
  height: auto;
}

// 画面小さくすると、ボタンがうまく縮小できない。位置も変わる
// .img_aside-app {
//   position: relative;
//   left: 440px;
//   bottom: 100px;
  
// }

// .img_aside-google {
//   position: relative;
//   left: 455px;
//   bottom: 100px;
// }