.aside
  = image_tag 'top/top_aside1.png', size: "1440x260", alt: 'Mercari', class: 'img_aside-back'
  -# = image_tag 'top/top_aside_app.png', size: "144x40", alt: 'app', class: 'img_aside-app'
  -# = image_tag 'top/top_aside_google.png', size: "144x40", alt: 'google', class: 'img_aside-google'