.logout-side-bar{
  margin: 40px auto 0;
  width: 1020px;
  position: relative;

  .logout-contents{
          margin: 40px auto 40px;
          width: 1020px;

          &__logout-box{
              position: absolute;
              top: 0px;
              left: 320px;
              float: right;
              width: 700px;
              height: 179px;
              background-color: lightblue;

              &__container{
                  box-sizing:border-box;
                  height: 100%;
                  width: 100%;
                  background: #fff;
                  padding: 64px;
                  &__btn-box{
                      max-width: 320px;
                      margin: 0 auto;
                      &__btn-red{
                          margin: 0;
                          background: #ea352d;
                          border: 1px solid #ea352d;
                          color: #fff;
                          transition: all ease-out .3s;
                          cursor: pointer;
                          text-align: center;
                          display: block;
                          width: 100%;
                          line-height: 48px;
                          font-size: 14px;
                          text-decoration: none;
                      }
                  }
              }
          }
      }
  }