.footer {
  background-color:rgb(34, 34, 34);
  color: #fff;
  padding: 0px 20px 10px;
  height: 360px;
  }

.menu {
  width: 950px;
  margin: 0 auto;
  display: flex;
  height: 310px;
}

.menu1 {
  margin-top: 18px;
  width: 250px;
  height: 300px;
  padding-right: 10px;
  &__title {
    font-weight: bold;
    font-size: 14px;
  }
  &__contents {
    margin: 16px 0px 0px;
    height: 16px;
    &__name {
      box-sizing: border-box;
      font-size: 10px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
      opacity: 0.7;
      text-decoration: none;
      color: white;
    }
    &__logo1 {
      margin-top: 30px;
      display: inline-block;
      &__btn--twitter {
        margin-right: 20px;
        color: white;
        font-size: 30px;
      }
    }
    &__logo2 {
      display: inline-block;
      &__btn--facebook {
        color: white;
        font-size: 30px;
      }
    }
  }
}

.menu2 {
  margin-top: 18px;
  width: 250px;
  height: 300px;
  padding-right: 10px;
  &__title {
    font-weight: bold;
    font-size: 14px;
  }
  &__contents {
    margin: 16px 0px 0px;
    height: 16px;
    &__name {
      box-sizing: border-box;
      font-size: 10px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
      opacity: 0.7;
      text-decoration: none;
      color: white;
    }
  }
}

.menu3 {
  margin-top: 18px;
  padding-right: 10px;
  width: 500px;
  height: 300px;
  &__title {
    font-weight: bold;
    font-size: 14px;
  }
  &__contents {
    display: flex;
    &__1 {
      margin: 23px 0px 0px;
      padding-right: 10px;
      &__name {
        box-sizing: border-box;
        margin-bottom: 17px;
        font-size: 10px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        opacity: 0.7;
        text-decoration: none;
        color: white;
      }
    }
    &__2 {
      margin: 23px 0px 0px;
      padding-left: 10px;
      &__name {
        box-sizing: border-box;
        margin-bottom: 17px;
        font-size: 10px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        opacity: 0.7;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.menu4 {
  margin-top: 18px;
  width: 200px;
  padding-right: 10px;
  height: 300px;
  &__title {
    font-weight: bold;
    font-size: 14px;
  }
  &__contents {
    margin: 16px 0px 0px;
    height: 16px;
    &__name {
      box-sizing: border-box;
      font-size: 10px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
      opacity: 0.7;
      text-decoration: none;
      color: white;
    }
  }
}

.buttom {
  width: 1020px;
  margin: 10px auto 20px;
  align-items: center;
  display: flex;
  &__contents {
    color: inherit;
    vertical-align: middle;
    text-decoration: none;
    &__btn {
      padding-left: 17px;
      height: 32px;
      width: 120px;
      vertical-align: middle;  
    }
    &__name {
      display: inline-block;
      height: 12.5px;
      line-height: 12.5px;
      width: 650px;
      text-align: center;
      vertical-align: middle;
      font-size: 10px;
    }
  }
}