.info-main {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  height: 100%;
  width: 560px;
  margin: 0 auto;
  background-color: #fff;

  &__header{
    padding: 25px;
    color: black;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
  }
  &__form{
    display: block;
    width: 300px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px 20px 60px;
    font-size: 10px;
    color: black;
    text-decoration: none;
    line-height: 40px;

    &__title {
      margin-top: 15px;
      font-size: 12px;
    }
    &__require {
      margin: 0 0 0 8px;
      padding: 3px 4px;
      border-radius: 2px;
      background-color: #ea352d;
      color: #fff;
      font-size: 10px;
      text-decoration: none;
      vertical-align: top;
    }
    &__text {

      &__in{
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        height: 20px;
        width: 250px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 12px;
      }
    }
    &__fullname {
      display: flex;
      &__in {
        margin-right: 10px;
        border-radius: 5px;
        height: 20px;
        width: 120px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 12px;
      }
    }
    &__birthday {

      &__in {
        text-align: center;
        border-radius: 5px;
        height: 40px;
        width: 70px;
        padding: 10px 8px 8px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 14px;
      }
    }
  }
  &__info {
    color: #0099e8;
    text-align: right;
    margin-top: 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
}
.info-main__message {
  font-size: 14px;
  height: 35px;;
  &__main {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 5px;
  }
  &__main2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 5px;
    margin-top: 30px;
    text-align: center;

    &__link {
      color: #0099e8;
      text-decoration: none;
    }
    &__btn {
      background-color: #ea352d;
      color: #fff;
      margin: 24px 0 0;
      display: block;
      width: 100%;
      line-height: 40px;
      font-size: 14px;
    }
  }
}

.form__info__text{
  color: #888;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;
  margin-left: 5px;
}

.info-main__btn {
  background-color: #ea352d;
  color: #fff;
  margin: 24px 0 0;
  display: block;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
}