.signup-main4 {
  background-color: #FFFFFF;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  margin: 0 auto;
  width: 700px;
  &__head {
    font-size: 22px;
    font-weight: bold;
    padding: 32px;
    line-height: 33px;
    text-align: center;
    border-bottom:#eee solid 1px;
  }
}
.card-input-contents4{
  height: 630px;
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  form{
    padding: 40px 40px 64px;
    border-top: 1px solid #f5f5f5;
    .card-input-content4{
      max-width: 343px;
      margin: 0 auto;
      .input-default{
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      ul{
        margin: 8px 0 0;
        font-size: 0;
        display:flex;
        li{
          margin: 0 0 0 8px;
        }
      }
      .select-wrap{
        .select-wrap-half{
          display: inline-block;
          width: 45%;
          margin: 8px 0 0;
          position: relative;
          background: #fff;
          select{
            width: calc(100% - 38px);
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
          }
          i{
            top:5px;
            right: 50px;
            position: absolute;
            z-index: 10;
            color: #888;
            font-size: 35px;
          }
          #cvc{
            width: calc(100% - 38px);
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
          }
        }
      }
      .signup-seqcode{
        text-align: right;
        font-size: 14px;
        margin: 8px 0 0;
        .signup-seqcode-text{
          color: #0099e8;
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
        }
        span{
          color: #0099e8;
        }
      }
    }
    .add-btn{
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      line-height: 1.5;
      font-size: 16px;
    }
  }
}